_minted*
*.aux
*.bbl
*.log
*.blg
*.out
*.pyg
*.fls
*.synctex.gz
*.toc
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.nav
*.xdv
*.snm
*.vrb
presentation.template.chl
presentation.template.lof
presentation.template.lot
presentation.template.pdf
poster.template.synctex(busy)
svg-inkscape/
build/
*.zip
*.dvi
poster.template.pdf
*.html